/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-img.src: "back.jpg";
    background-color: #f4f6f8;
    color: #333;
}

/* HEADER */
header {
    background: #0a192f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header h1 {
    color: #64ffda;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #64ffda;
}

/* HERO */
.hero {
    text-align: center;
    padding: 70px 20px;
    background: linear-gradient(135deg, #0a192f, #112240);
    color: white;
}

.hero img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid #64ffda;
}

.hero span {
    color: #64ffda;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #64ffda;
    color: #0a192f;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

/* SECTIONS */
section {
    background: white;
    padding: 40px;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

section h2 {
    color: #0a192f;
    margin-bottom: 20px;
    border-bottom: 2px solid #64ffda;
    display: inline-block;
}

/* CONTACT ICONS */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.social-icons a {
    font-size: 26px;
    color: #0a192f;
    background: #eaf2ff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: #0a66c2;
    color: white;
    transform: translateY(-5px);
}

/* FOOTER */
footer {
    background: #0a192f;
    color: white;
    text-align: center;
    padding: 15px;
}
.hero {
    padding: 80px 40px;
    background: linear-gradient(135deg, #0a192f, #112240);
}

.hero-wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 40px;
    align-items: center;
}
.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;   /* moves photo UP */
}

.hero-left img {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #64ffda;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.hero-right {
    color: white;
}

.hello {
    color: black;
}

.name {
    color: #64ffda;
    font-weight: bold;
}

.title {
    margin: 15px 0 25px;
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.social-icons a {
    width: 36px;        /* circle size */
    height: 36px;
    font-size: 16px;    /* icon size */
    background: white;
    color: #0a192f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover {
    background: #64ffda;
}

.about-box h2 {
    color: #64ffda;
    margin-bottom: 10px;
}

.about-box p {
    line-height: 1.7;
}

@media (max-width: 900px) {
    .hero-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}
.left-btn {
    margin-top: 20px;
}

.left-icons {
    margin-top: 20px;
}

.left-icons a {
    background: white;
    color: #0a192f;
}

.left-icons a:hover {
    background: #64ffda;
}
.project-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    border-left: 5px solid #64ffda;
    margin-bottom: 25px;
}

.project-card h3 {
    color: #0a192f;
    margin-bottom: 10px;
}

.project-desc {
    margin: 10px 0 15px;
    line-height: 1.6;
}

.tech-stack span {
    display: inline-block;
    background: #0a192f;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 5px;
}